<p id="notice"><%= notice %></p>

<h1>List of Movies in the DB</h1>
<%= link_to "Sort by rating (unrated not included)", movies_rating_url %> | <%= link_to "Show all unrated films", movies_unrated_url %>
| <%= link_to "Sort by Year (latest first)", movies_latest_url %>
<% if @movies.count > 0%>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Synopsis</th>
      <th>Rating</th>
      <th>No. of Reviews</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr id="movieDetails-<%=movie.id%>">
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.synopsis %></td>
        <% if movie.rating.nil?  %>
        <td><em>Movie not yet reviewed</em></td>
          <% else %>
        <td><%= number_with_precision(movie.rating, precision: 1) %></td>
        <% end %>
        <td> <%= movie.reviews.size %> review(s) <br/>
          <% if movie.reviews.size > 0 %>
          <a id='showReviews-<%=movie.id%>' href='/movies/<%= movie.id%>/reviews'>Show Reviews</a> <% end %> </td>
        <td><%= link_to 'Show', movie %></td>
        <% if current_user.id == movie.user_id %>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<h3>There are no movies at this time.</h3>
<% end %>
<br>

<%= link_to 'New Movie', new_movie_path %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  $('a').on("click", function(e){
    $.ajax({
      method: "GET",
      url: this.href
    }).success(function(response){
    $.each(response, function(index,review){
        var html = "<tr style='color:red;'>";
        html += "<td colspan='2'><strong>Review:</strong></td><td><em> " + review['title'] + "</em></td>"
        html += "<td><strong>Reviewer:</strong></td><td colspan='2'><em>" + review['user']['email'] + "</em></td></tr>"
        html += "<tr style='color:red;'><td colspan='2'><strong>Rating:</strong></td><td>" + review['rating'] + "</td></tr>"

        $("a#showReviews-"+review['movie']['id']).hide();
        $("#movieDetails-"+review['movie']['id']).after(html);

    });
    });
    e.preventDefault();
  });
});
</script>
