<p id="notice"><%= notice %></p>

<p>
  <h3><strong>Title:</strong>
  <%= @movie.title %></h3>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @movie.rating.nil?  %>
  <em>Movie not yet reviewed</em>
    <% else %>
  <%= number_with_precision(@movie.rating, precision: 1)  %> from <%= @movie.reviews.size %> review(s).
  <% end %>
</p>

<p>
  <strong>Movie added by:</strong>
  <em><%= @movie.user.email %></em>
</p>

<div id="quotesList">
  <strong>Famous Quotes:</strong>
  <ul>
  <% @movie.quotes.each do |quote| %>
    <li><em>"<%= quote.text %>"<em></li>
  <% end %>
  </ul>
</div>
<%# Iterate through all the movie reviews %>
<hr class="style1">
<div id="reviewSection">
  <strong>Reviews:</strong>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title of Review</th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody>
    <% @movie.reviews.each do |review| %>
      <tr id="movieReviews-<%=review.id%>">
        <td><strong><%= review.title%></strong></td>
        <td><%= review.reviewer.email %></td>
        <td><%= number_with_precision(review.rating, precision: 1) %></td>
        <td><a id='showReviews-<%=review.id%>' class="showReviews" href='/movies/<%= @movie.id%>/reviews/<%=review.id%>.json'>Show Content</a> </td>
        <% if current_user.id == review.user_id %>
        <td><%= link_to 'Edit', edit_movie_review_path(@movie,review) %></td>
        <td><%= link_to 'Destroy', ([@movie,review]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a Review', new_movie_review_path(@movie) %> |


<% if current_user.id == @movie.user_id %>
<%= link_to 'Edit Movie', edit_movie_path(@movie) %> |
 <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
<br>


<br>
<%# Form for adding new quotes %>
<p>
  <strong>Contribute your favorite quotes:</strong>
<%= form_for(@quote) do |f| %>
<% if @quote.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this movie from being saved:</h2>

    <ul>
    <% @quote.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">

    <%= f.text_field :text %>
  </div>


  <%= f.hidden_field :movie_id, :value => @movie.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</p>
<%= link_to 'Back', movies_path %>




<script type="text/javascript" charset="utf-8">

$(document).ready(function(){

//  To add new quotes to the movie via json response
  $("#new_quote").on("submit", function(e){

    url = this.action

    data = {
      'authenticity_token': $("input[name='authenticity_token']").val(),
      'quote':{
        'text': $("#quote_text").val(),
        'movie_id': $("#quote_movie_id").val()
      }
    };

    $.ajax({
      type: "POST",
      url: url,
      data: data,
      success: function(response){
        var html = "<li>&quot;"
        html += response['text']
        html += "&quot;</li>"
        $('div#quotesList ul').append(html)
        $('#quote_text').val("")
      }
    })



    e.preventDefault();
  })



//  To reveal content of the reviews
  $('a.showReviews').on("click", function(e){
    $.get(this.href).success(function(response){

        var html = "<tr style='color:red;'>";
        html += "<td colspan='3'><em> " + response['content'] + "</em></td></tr>"


        $("a#showReviews-"+response['id']).hide();
        $("#movieReviews-"+response['id']).after(html);

    });
    e.preventDefault();
  });
});
</script>
