<p id="notice"><%= notice %></p>

<p>
  <h3><strong>Title:</strong>
  <%= @movie.title %></h3>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<p>
  <strong>Rating:</strong>
  <% if @movie.rating.nil?  %>
  <em>Movie not yet reviewed</em>
    <% else %>
  <%= number_with_precision(@movie.rating, precision: 1)  %> from <%= @movie.reviews.size %> review(s).
  <% end %>
</p>

<p>
  <strong>Last updated by:</strong>
  <em><%= @movie.user.email %></em>
</p>

<hr class="style1">
  <strong>Reviews:</strong>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title of Review</th>
        <th>Reviewer</th>
        <th>Rating</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody>
    <% @movie.reviews.each do |review| %>
      <tr>
        <td><strong><%= review.title%></strong></td>
        <td><%= review.user.email %></td>
        <td><%= number_with_precision(review.rating, precision: 1) %></td>
        <td><%= link_to 'Show', ([@movie,review]) %></td>
        <% if current_user.id == review.user_id %>
        <td><%= link_to 'Edit', edit_movie_review_path(@movie,review) %></td>
        <td><%= link_to 'Destroy', ([@movie,review]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a Review', new_movie_review_path(@movie) %> |
<%= link_to 'Edit Movie', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
<% if current_user.id == @movie.user_id %>
| <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
