<h1>Editing your review of <%= @movie.title %></h1>

<%= render 'form' %>

<%= link_to 'Back to your Review', @review %> |
<%= link_to 'Back to Movie page', @movie %>
<%= link_to 'Back to Main Page - Movies List', movies_path %>
